## FCC_01_TITANIC

[TrainDATA](https://storage.googleapis.com/tf-datasetes/titanic/train.csv)<br>
[EvaluateDATA](https://storage.googleapis.com/tf-datasetes/titanic/eval.csv)

The very first step is, always, to understand the data and explore it.

In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals

import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

import pandas as pd
import numpy as np

import tensorflow.compat.v2.feature_column as fc
import tensorflow as tf

In [8]:
dftrain = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/03_TF/FCC_TF/FCC_DATA/Titanic/train.csv')
dfeval = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/03_TF/FCC_TF/FCC_DATA/Titanic/test.csv')

y_train = dftrain.pop('Survived')
y_eval = dfeval

dftrain, dfeval

(     PassengerId  Pclass                                               Name  \
 0              1       3                            Braund, Mr. Owen Harris
 1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
 2              3       3                             Heikkinen, Miss. Laina
 3              4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
 4              5       3                           Allen, Mr. William Henry
 ..           ...     ...                                                ...
 886          887       2                              Montvila, Rev. Juozas
 887          888       1                       Graham, Miss. Margaret Edith
 888          889       3           Johnston, Miss. Catherine Helen "Carrie"
 889          890       1                              Behr, Mr. Karl Howell
 890          891       3                                Dooley, Mr. Patrick

         Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
 0      male  22.0      1      0         A/5 21171   7.2500   NaN        S
 1    female  38.0      1      0          PC 17599  71.2833   C85        C
 2    female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
 3    female  35.0      1      0            113803  53.1000  C123        S
 4      male  35.0      0      0            373450   8.0500   NaN        S
 ..      ...   ...    ...    ...               ...      ...   ...      ...
 886    male  27.0      0      0            211536  13.0000   NaN        S
 887  female  19.0      0      0            112053  30.0000   B42        S
 888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
 889    male  26.0      0      0            111369  30.0000  C148        C
 890    male  32.0      0      0            370376   7.7500   NaN        Q

 [891 rows x 11 columns],
      PassengerId  Pclass                                          Name  \
 0            892       3                              Kelly, Mr. James
 1            893       3              Wilkes, Mrs. James (Ellen Needs)
 2            894       2                     Myles, Mr. Thomas Francis
 3            895       3                              Wirz, Mr. Albert
 4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
 ..           ...     ...                                           ...
 413         1305       3                            Spector, Mr. Woolf
 414         1306       1                  Oliva y Ocana, Dona. Fermina
 415         1307       3                  Saether, Mr. Simon Sivertsen
 416         1308       3                           Ware, Mr. Frederick
 417         1309       3                      Peter, Master. Michael J

         Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
 0      male  34.5      0      0              330911    7.8292   NaN        Q
 1    female  47.0      1      0              363272    7.0000   NaN        S
 2      male  62.0      0      0              240276    9.6875   NaN        Q
 3      male  27.0      0      0              315154    8.6625   NaN        S
 4    female  22.0      1      1             3101298   12.2875   NaN        S
 ..      ...   ...    ...    ...                 ...       ...   ...      ...
 413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
 414  female  39.0      0      0            PC 17758  108.9000  C105        C
 415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
 416    male   NaN      0      0              359309    8.0500   NaN        S
 417    male   NaN      1      1                2668   22.3583   NaN        C

 [418 rows x 11 columns])