## FCC_01_TITANIC

[TrainDATA](https://storage.googleapis.com/tf-datasetes/titanic/train.csv)<br>
[EvaluateDATA](https://storage.googleapis.com/tf-datasetes/titanic/eval.csv)

The very first step is, always, to understand the data and explore it.

In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals

import matplotlib.pyplot as plt
from IPython.display import clear_output
from six.moves import urllib

import pandas as pd
import numpy as np

import tensorflow.compat.v2.feature_column as fc
import tensorflow as tf

from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

from matplotlib.backends.backend_pdf import PdfPages

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/03_TF/FCC_TF/FCC_DATA/Titanic/NEWDATA/TitanicData.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
# Split the data into training (80%) and evaluation (20%) sets
train_data, eval_data = train_test_split(data, test_size=0.2, random_state=42)

# Define paths for saving the files
train_save_path = '/content/drive/MyDrive/Colab Notebooks/03_TF/FCC_TF/FCC_DATA/Titanic/NEWDATA/train.csv'
eval_save_path = '/content/drive/MyDrive/Colab Notebooks/03_TF/FCC_TF/FCC_DATA/Titanic/NEWDATA/eval.csv'

# Save the splits into separate CSV files
train_data.to_csv(train_save_path, index=False)
eval_data.to_csv(eval_save_path, index=False)

In [20]:
dftrain = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/03_TF/FCC_TF/FCC_DATA/Titanic/NEWDATA/train.csv')
dfeval = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/03_TF/FCC_TF/FCC_DATA/Titanic/NEWDATA/eval.csv')

y_train = dftrain.pop('Survived')
y_eval = dfeval.pop('Survived')
dftrain.loc[1],y_train.loc[1]

(PassengerId                           734
 Pclass                                  2
 Name           Berriman, Mr. William John
 Sex                                  male
 Age                                  23.0
 SibSp                                   0
 Parch                                   0
 Ticket                              28425
 Fare                                 13.0
 Cabin                                 NaN
 Embarked                                S
 Name: 1, dtype: object,
 0)

In [21]:
dftrain.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   712.000000  712.000000  572.000000  712.000000  712.000000  712.000000
mean    448.234551    2.330056   29.498846    0.553371    0.379213   32.586276
std     256.731423    0.824584   14.500059    1.176404    0.791669   51.969529
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     224.750000    2.000000   21.000000    0.000000    0.000000    7.925000
50%     453.500000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     673.500000    3.000000   38.000000    1.000000    0.000000   30.500000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [22]:
dftrain.shape

(712, 11)